@use 'tools';

// Cosas muy muy generales

.main-container{
    padding: var(--container-padding);
    @include tools.container-width();
}

.nav-list{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-list-header{
    flex-wrap: wrap;
    justify-content: center;
}

.post-list{
    display: grid;
    gap: 32px 0;

    @include tools.desktop {
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 560px minmax(430px,auto);
        gap: 80px 24px;
    }
}

.post-list-container{
    display: flex;
    flex-direction: column;
    gap: 48px 0;

    @include tools.desktop {
        padding: 0;
    }
}

.main-navbar{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    gap: 12px 0;

    @include tools.container-width;
    flex-direction: column;

    @include tools.desktop{
        flex-direction: row;
        gap: 0;
    };
}

.featured-posts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px 0;
    margin-block-end: 90px;
}

.featured-posts > article{
    width: 100%;
    height: 630px;
    background-color: var(--color-aquarius-900);
}

.featured-posts .button-cotainer{
    display: flex;
    gap: 32px;
}

.featured-posts button{
    width: 54px;
    height: 42px;
    font-size: 0;
    background-color: var(--color-aquarius-600);
}

.main-footer{
    height: 290px;
    width: 100%;
    padding: var(--container-padding);
    background-color: var(--color-back-pearl-900);
}