//info Custom properties (CSS VARIABLES) 

:root {
    --cherry-pick: #f5778f
    --watermelon : #ff0062
    --red-fire: #ca234f

    --black: #000
    --night-sky: #1b2838
    --blue-berry: #252b42

    --white-cloud: #ffffff
    --grey-paper: #e6e6e6
    --shark-skin: #c7c7c7
    --snowman: #a2a6b0
    --grey-mouse: #8b949e

    --gold-apple: #ffb800
    --blue-perl: #139ad6
    --orange : #e77c40

    --container-max-width: 1180px;
    --container-padding: 0 24px;
}

//info Sass variables
$breakpoint-large: 992px;

$max-width-desktop: 1180px;
$max-width-tablet: 840px;
$max-width-mobile: 567px;